# 1 - Crie um dataframe com a estrutura abaixo . Os indices devem ser as equipes 
# "X Racing ,"Equatorial" , "Typo" , "Blue Race","Capa Racing" . Utilize um dicionário

In [8]:
import pandas as pd 
dados = {
    'Sede':['Nova York','São Paulo','Nova York','Londres','Londres'],
    'Piloto':['Mike Ross','Sebastian Thomas','Glean Are','Micheal Schum','Luiz da Silva'],
    'Mundiais':[10,11,0,3,44],
    'Vitorias':[321,229,12,44,1023]

}
data_frame = pd.DataFrame(dados,index=['X Racing','Equatorial','Type','Blue Race','Capa Racing'])
data_frame

                  Sede            Piloto  Mundiais  Vitorias
X Racing     Nova York         Mike Ross        10       321
Equatorial   São Paulo  Sebastian Thomas        11       229
Type         Nova York         Glean Are         0        12
Blue Race      Londres     Micheal Schum         3        44
Capa Racing    Londres     Luiz da Silva        44      1023

# 2- Mostre todas as informações de equipe da Blue Race

In [9]:
data_frame.loc['Blue Race']

Sede              Londres
Piloto      Micheal Schum
Mundiais                3
Vitorias               44
Name: Blue Race, dtype: object

# 3 - Mostre o número de mundiais da equipe Capa Racing

In [10]:
data_frame.loc['Capa Racing']['Mundiais']

44

# 4 - Mostre apenas as equipes que tem 10 ou mais mundiais

In [11]:
mask = data_frame['Mundiais'] >= 10
mask

X Racing        True
Equatorial      True
Type           False
Blue Race      False
Capa Racing     True
Name: Mundiais, dtype: bool

# 5 - Mostre apenas as equipes que tem 10 ou mais mundiais e mais de 300 vitorias

In [13]:
data_frame[(data_frame['Mundiais']>=10 & (data_frame['Vitorias']>300))]

                  Sede            Piloto  Mundiais  Vitorias
X Racing     Nova York         Mike Ross        10       321
Equatorial   São Paulo  Sebastian Thomas        11       229
Type         Nova York         Glean Are         0        12
Blue Race      Londres     Micheal Schum         3        44
Capa Racing    Londres     Luiz da Silva        44      1023

# 6 - Atualize o nome do piloto da Equipe Equatorial para Antônio Racer

In [14]:
data_frame.at['Equatorial','Piloto'] = 'Antonio Racer'
data_frame

                  Sede         Piloto  Mundiais  Vitorias
X Racing     Nova York      Mike Ross        10       321
Equatorial   São Paulo  Antonio Racer        11       229
Type         Nova York      Glean Are         0        12
Blue Race      Londres  Micheal Schum         3        44
Capa Racing    Londres  Luiz da Silva        44      1023

# 7 - Atualize em um mesmo comando a equipe X Racing definindo sede 
# como São Paulo e vitórias com 322

In [16]:
data_frame.loc['X Racing',['Sede','Vitorias']] = ('Sâo Paulo',322)
data_frame

                  Sede         Piloto  Mundiais  Vitorias
X Racing     Sâo Paulo      Mike Ross        10       322
Equatorial   São Paulo  Antonio Racer        11       229
Type         Nova York      Glean Are         0        12
Blue Race      Londres  Micheal Schum         3        44
Capa Racing    Londres  Luiz da Silva        44      1023

# 8 - Inclua uma nova equipe Red Cow com sede em São Paulo , Piloto 
# FernandO Vettel , Mundiais zero e vitórias zero

In [17]:
data_frame.loc['Red Cow'] = ('São Paulo','Fernando Vettel',0,0)
data_frame

                  Sede           Piloto  Mundiais  Vitorias
X Racing     Sâo Paulo        Mike Ross        10       322
Equatorial   São Paulo    Antonio Racer        11       229
Type         Nova York        Glean Are         0        12
Blue Race      Londres    Micheal Schum         3        44
Capa Racing    Londres    Luiz da Silva        44      1023
Red Cow      São Paulo  Fernando Vettel         0         0

# 9 - Ordene o dataframe de forma descrescente pelo número de vitórias

In [18]:
data = data_frame.sort_values("Vitorias",ascending=False,inplace=False)
data

                  Sede           Piloto  Mundiais  Vitorias
Capa Racing    Londres    Luiz da Silva        44      1023
X Racing     Sâo Paulo        Mike Ross        10       322
Equatorial   São Paulo    Antonio Racer        11       229
Blue Race      Londres    Micheal Schum         3        44
Type         Nova York        Glean Are         0        12
Red Cow      São Paulo  Fernando Vettel         0         0