In [4]:
num1 = -10 
num2 = 10 
print(abs(num1))
print(abs(num2))
print(abs(num1) + abs(num2))

10
10
20

In [5]:
maior_valor = max(10,20,30)
print(maior_valor)

30

In [6]:
lista = [-20,1,2,3,3]
print(max(lista))

3

In [7]:
lista = [-20,1,2,3,3]
print(min(lista))

-20

In [8]:
x = 2 
y = 3 
print(pow(2,3))

8

In [9]:
import math 
print(math.sqrt(25))

5.0

In [10]:
print(round(2.4566,2))

2.46

In [11]:
from math import floor,ceil 

print(floor(2.4566))
print(ceil(2.4566))

2
3

In [12]:
print(divmod(10,4))

(2, 2)

In [13]:
numero = 70 
caractere = chr(numero)
print("O numero %d e mapeado para caractere %s"%(numero,caractere))

O numero 70 e mapeado para caractere F

In [14]:
for i in range(70,100):
    caractere = chr(i)
    print("%d - %s "%(i,caractere),end='\n')

70 - F
71 - G
72 - H
73 - I
74 - J
75 - K
76 - L
77 - M
78 - N
79 - O
80 - P
81 - Q
82 - R
83 - S
84 - T
85 - U
86 - V
87 - W
88 - X
89 - Y
90 - Z
91 - [
92 - \
93 - ]
94 - ^
95 - _
96 - `
97 - a
98 - b
99 - c

In [15]:
caractere = "F"
numero  = ord(caractere)
print("O caractere %s se mapeia para o número %d"%(caractere,numero))

O caractere F se mapeia para o número 70

In [16]:
lista = [5,10,2,1,5,10]
lista.sort()
print(lista)

[1, 2, 5, 5, 10, 10]

In [17]:
lista_letras = ["a","b","c","d"]
lista_letras.sort(reverse=True)
print(lista_letras)

['d', 'c', 'b', 'a']

In [18]:
def sort_por_tamanho(item):
    return len(item)

lista_dados = ["a","b","c","d","e"]
lista_dados.sort(key=sort_por_tamanho)
print(lista_dados)

['a', 'b', 'c', 'd', 'e']

In [19]:
lista_num = [5,6,10,300,20,340,23]
lista_num.reverse()
print(lista_num)

[23, 340, 20, 300, 10, 6, 5]

In [21]:
produtos=[['Carro','R$100.000'],
          ['Cadeira','R$100'],
          ['Moto','R$4000'],
          ['Geladeira','R$2000']]

for produto, valor in produtos:
    print(produto,valor)

Carro R$100.000
Cadeira R$100
Moto R$4000
Geladeira R$2000

In [22]:
nomes =('Joa','Carlos','Roberto')
dicionario = dict.fromkeys(nomes,10)
print(dicionario)

{'Joa': 10, 'Carlos': 10, 'Roberto': 10}