In [9]:
print('Ola mundo')

Ola mundo

In [10]:
def assitir_filmes(filmes):
    novo_filme = []
    for i in filmes:
        novo_filme.append(i)
    return novo_filme

filme = assitir_filmes('Deadpool')
print(filme)

['D', 'e', 'a', 'd', 'p', 'o', 'o', 'l']

In [11]:
print('Maça','Pera','Uva',sep=' - ')

Maça - Pera - Uva

In [12]:
print('Maça' , end= ' Fim ')

Maça Fim

In [13]:
print(" A pontuação total de {} foi {} pontos".format("Programador","20"))

 A pontuação total de Programador foi 20 pontos

Variáveis

In [14]:
_numero = 10 
Numero = 20 
num = 40 
num123 = 100
print(_numero,Numero,num,num123)

10 20 40 100

In [15]:
num = 10 
print(num)
num = 20 
print(num)

10
20

In [16]:
texto = "Aprendendo a programar em Python"
print(texto)

Aprendendo a programar em Python

In [17]:
var = True 
print(var)
var = False
print(var)

True
False

In [18]:
var1 = 20 
var2 = var1 
print(var2)

20

In [19]:
var = None 
print(var)
var = 1 
print(var)
var = 'Text'
print(var)

None
1
Text

In [20]:
#Pascal case
SaldoBancario = 100

# padrão pascal case
SaldoBancario = 100

# padrão snake case
saldo_bancario = 100

In [1]:
nome = "Fernanda"
text_formatado = "O nome dela é %s" %(nome)
print(text_formatado)

O nome dela é Fernanda

In [3]:
nome = "Rodrigo"
idade = 30
altura = 1.81
text = "Meu nome e %s. tenho %d anos e tenho %2.f metros de altura" %(nome,idade,altura)
print(text)

Meu nome e Rodrigo. tenho 30 anos e tenho 1.810000 metros de altura

In [4]:
nume_grande = 1.9000000000 
print("Numero grande formatado: %.2f"%(nume_grande))

Numero grande formatado: 1.90

In [7]:
valor = True 
print("O valor e %s "%(valor))
print("O valor e %d "%(valor))

O valor e True
O valor e 1

In [8]:
decimal = 2.333876545
print("A parte inteira é %d " %(decimal))

A parte inteira é 2

In [1]:
print(10+20)

30

In [2]:
numero = 10+ 20 
print(numero)

30

In [3]:
num = 10 - 3
print(num)

7

In [4]:
num = 10 * 2
print(num)

20

In [5]:
num = 10 / 2 
print(num)

5.0

In [6]:
num = 2 ** 2 
print(num)

4

In [7]:
num = 4 % 2  
print(num)

0

In [8]:
numero = 10 * 2 + 2+2 
print(numero)

24

OPERADORES LÓGICOS

In [9]:
resultado = True and False 
print(resultado)

False

In [10]:
resultado_1 = True and True
print(resultado)

False

In [11]:
resultado_3 = True or False 
print(resultado)

False

In [13]:
resultado = True and not False 
print(resultado)

True

In [14]:
resultado = True or not False 
print(resultado)

True

CASTING

In [1]:
texto = "Ola"
numero = 2 
decimal = 1.5 
booleano = True 
print(type(texto))

<class 'str'>

In [3]:
texto1 = "2"
text2 = "1.5"
num1 = int(texto1)
num2 = float(text2)
print(num1+num1)

4

In [4]:
num = 21.45678
inteira = int(num)
print("A parte inteira de %f e %d"%(num,inteira))

A parte inteira de 21.456780 e 21

In [5]:
texto = "O numero e "
numero = 10.3
numero_em_string = str(num)
print(texto,numero_em_string)
print(type(numero_em_string))

O numero e  21.45678
<class 'str'>

In [6]:
numero =123 
texto = str(numero)
numero_de_digitos = len(texto)
print("O numero %s tem %d digitos "%(texto,numero_de_digitos))

O numero 123 tem 3 digitos

In [7]:
vazio = None 
numero_um = 15 
numero_zero = 0 
texto = "Texto"
texto_vazio = " "
decimal_zero = 0.0
decimal = 4.5

print("Variavel tem valor :",bool(vazio))
print("Número tem valor :",bool(numero_um))

Variavel tem valor : False
Número tem valor : True

INPUT

In [2]:
valor_escrito = input()
print(type(valor_escrito))
print(valor_escrito)

<class 'str'>
30

In [3]:
meu_nome = input()
print("Eu meu chamo %s" %(meu_nome))

Eu meu chamo wallace

In [5]:
dia = input()
mes = input()
ano = input()
print("A data inserida for %s/%s/%s" %(dia,mes,ano))

A data inserida for 20/08/2024

In [8]:
entrada_usuario = input("Digite 1 para verdadeiro 0 para falso: ")
valor_inteiro = int(entrada_usuario)
valor_logico = bool(valor_inteiro)
print("Você escolheu: %s " % valor_logico)
print("ou ainda você escolheu : %i" %(valor_inteiro))

Você escolheu: False
ou ainda você escolheu : 0

OPERADORES DE ATRIBUIÇÃO E COMBINAÇÃO DE OPERADORES LÓGICOS

In [1]:
numero = 1 
numero = numero + 1 
print(numero)

2

In [2]:
numero = 2 
numero += 2 
print(numero)

4

In [3]:
numero = 10 
numero = numero /2 
print(numero)

5.0

In [4]:
numero = 10 
numero /= 2 
print(numero)

5.0

In [5]:
num = 20 
booleana = (num ==10)
print(booleana)

False

In [6]:
num = 20 
booleana = (num !=10)
print(booleana)

True

In [7]:
num1 = 20 
num2 = 10 
e_maior = num1 > num2 
print(e_maior)

True

In [8]:
num = 11 
boolean = num > 0 and num < 30 
print(boolean)

True

In [9]:
num = 10.1 
booleano = type(num) == float and (num == 10.1 or num ==20.2)
print(booleano)

True

OPERADORES STRING

In [2]:
text1 = 'ola'
text2 = ','
text3 = 'tudo bem ?'
text_complete = text1+ text2+text3 
print(text_complete)

ola,tudo bem ?

In [3]:
text1 = 'Ola'
text1 += 'mundo'
print(text1)

Olamundo

In [5]:
texto = "Python é produtivo, "
texto_repetido = texto * 3 
print(texto_repetido)

Python é produtivo, Python é produtivo, Python é produtivo,

In [6]:
texto = "Exemplo"
print(texto[0])
print(texto[1])

E
x

In [7]:
texto = "exemplos"
print(texto[1:3])

xe

In [10]:
texto = "exemplos"
print(texto[1:4])
print(texto[3:])
print(texto[:5])

xem
mplos
exemp

In [12]:
texto = "carros"
print(texto[-4])
print(texto[-4:])

r
rros

In [13]:
texto = "metro"
print(texto[::-1])

ortem

In [14]:
numeros = "123"
print(numeros[0])

1

In [15]:
texto = "abcdefg"
texto = texto[:3] + texto[4:]
print(texto)

abcefg

In [18]:
texto1 = "Ola"
texto2 = "Ola"
igual = texto1 == texto2
print("Textos são iguais ? ",igual)

Textos são iguais ?  True

In [19]:
texto = "programacao"
print("a" in texto)

True

In [20]:
tamanho = len(texto)
print(tamanho)

11