In [9]:
print('Ola mundo')

Ola mundo

In [10]:
def assitir_filmes(filmes):
    novo_filme = []
    for i in filmes:
        novo_filme.append(i)
    return novo_filme

filme = assitir_filmes('Deadpool')
print(filme)

['D', 'e', 'a', 'd', 'p', 'o', 'o', 'l']

In [11]:
print('Maça','Pera','Uva',sep=' - ')

Maça - Pera - Uva

In [12]:
print('Maça' , end= ' Fim ')

Maça Fim

In [13]:
print(" A pontuação total de {} foi {} pontos".format("Programador","20"))

 A pontuação total de Programador foi 20 pontos

Variáveis

In [14]:
_numero = 10 
Numero = 20 
num = 40 
num123 = 100
print(_numero,Numero,num,num123)

10 20 40 100

In [15]:
num = 10 
print(num)
num = 20 
print(num)

10
20

In [16]:
texto = "Aprendendo a programar em Python"
print(texto)

Aprendendo a programar em Python

In [17]:
var = True 
print(var)
var = False
print(var)

True
False

In [18]:
var1 = 20 
var2 = var1 
print(var2)

20

In [19]:
var = None 
print(var)
var = 1 
print(var)
var = 'Text'
print(var)

None
1
Text

In [20]:
#Pascal case
SaldoBancario = 100

# padrão pascal case
SaldoBancario = 100

# padrão snake case
saldo_bancario = 100

In [1]:
nome = "Fernanda"
text_formatado = "O nome dela é %s" %(nome)
print(text_formatado)

O nome dela é Fernanda

In [3]:
nome = "Rodrigo"
idade = 30
altura = 1.81
text = "Meu nome e %s. tenho %d anos e tenho %2.f metros de altura" %(nome,idade,altura)
print(text)

Meu nome e Rodrigo. tenho 30 anos e tenho 1.810000 metros de altura

In [4]:
nume_grande = 1.9000000000 
print("Numero grande formatado: %.2f"%(nume_grande))

Numero grande formatado: 1.90

In [7]:
valor = True 
print("O valor e %s "%(valor))
print("O valor e %d "%(valor))

O valor e True
O valor e 1

In [8]:
decimal = 2.333876545
print("A parte inteira é %d " %(decimal))

A parte inteira é 2

In [1]:
print(10+20)

30

In [2]:
numero = 10+ 20 
print(numero)

30

In [3]:
num = 10 - 3
print(num)

7

In [4]:
num = 10 * 2
print(num)

20

In [5]:
num = 10 / 2 
print(num)

5.0

In [6]:
num = 2 ** 2 
print(num)

4

In [7]:
num = 4 % 2  
print(num)

0

In [8]:
numero = 10 * 2 + 2+2 
print(numero)

24

OPERADORES LÓGICOS

In [9]:
resultado = True and False 
print(resultado)

False

In [10]:
resultado_1 = True and True
print(resultado)

False

In [11]:
resultado_3 = True or False 
print(resultado)

False

In [13]:
resultado = True and not False 
print(resultado)

True

In [14]:
resultado = True or not False 
print(resultado)

True