In [1]:
array_numeros = [1,2,3]
array_floats = [56.7,22.8,30.1]
array_strings = ["A","B","C"]
array_misto = [2,10.1,"A","B"]
print(array_numeros)
print(array_floats)
print(array_strings)
print(array_misto)

[1, 2, 3]
[56.7, 22.8, 30.1]
['A', 'B', 'C']
[2, 10.1, 'A', 'B']

In [2]:
color = [1,2,3,4,5]
print(color)

[1, 2, 3, 4, 5]

In [3]:
array = list([1,2,3])
print(array)
primeiro_elemento = array[0]
print(primeiro_elemento)
array[0] = 2000 
primeiro_elemento = array[0]
print(primeiro_elemento)
print(array[-1])
print(array)

[1, 2, 3]
1
2000
3
[2000, 2, 3]

In [4]:
array = [1,"texto",3]
print(array[1:3])

['texto', 3]

In [5]:
array = [10,2,3]
array.append(300)
print(array)
array.insert(2,400)
print(array)

[10, 2, 3, 300]
[10, 2, 400, 3, 300]

In [6]:
array = [10,30,40,50,600]
array.remove(10)
print(array)
array.pop(2)
print(array)

[30, 40, 50, 600]
[30, 40, 600]

In [7]:
print(len(array))

3

In [8]:
array.clear()
print(array)

[]

In [9]:
array = [1,'teste',1.3,True]
print(1 in array)
print(False not in array)

True
True

In [10]:
lista = [5,7,6,2,4,0]
teste = lista.count(7)
print(teste)

1

In [11]:
lista = [5,7,6,2,4,0]
pos = lista.index(7)
print(pos)

1

SETS

In [12]:
lista_set = {}
lista2_set = {1,2,3}
lista3_set = set({1,2,3})
print(lista_set)
print(lista2_set)
print(lista3_set)

{}
{1, 2, 3}
{1, 2, 3}

In [13]:
lista4_set = {1,2,3}
lista4_set.add(500)
print(lista4_set)

{1, 2, 3, 500}

In [14]:
lista4_set = {1,2,3}
lista4_set.add(500)
print(lista4_set)
lista4_set.remove(1)
print(lista4_set)

{1, 2, 3, 500}
{2, 3, 500}

In [15]:
lista5_set = {1,2,3,4,5,6,7,8,9,10}
lista5_set.add(40000)
print(lista5_set)

{40000, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [16]:
lista5_set = {1,2,3,4,5,6,7,8,9,10}
lista5_set.clear()
print(lista5_set)

set()

In [17]:
lista6_set = {1,2,3,4,5,6}
print(len(lista6_set))

6

In [18]:
lista7_set = {12,3,4,5,6}
print(type(lista7_set))

<class 'set'>

In [19]:
lista8_set = {1,2,3,4,5,6}
print(200 in lista7_set)

False

In [20]:
set1 = {1,2,3,4}
set2 = {4,5,6,7,8}
set_unido = set1.union(set2)
print(set_unido)

{1, 2, 3, 4, 5, 6, 7, 8}

In [21]:
set1 = {1,2,3,4}
set2 = {4,5,6,7,8}
set_unido = set1.intersection(set2)
print(set_unido)

{4}

In [22]:
set1 = {1,2,3,4}
set2 = {4,5,6,7,8}
set_unido = set1.difference(set2)
print(set_unido)

{1, 2, 3}

TUPLAS

In [23]:
doces = tuple(["Chocolate","bom bom","maria mole"])
print(doces)

('Chocolate', 'bom bom', 'maria mole')

In [24]:
nums = ('1','2','3')
print(len(nums))

3

In [25]:
nums = (1,2,3,4,5,6,7,8)
sub_tupla = nums[1:4]
print(sub_tupla)

(2, 3, 4)

In [26]:
nums = (1,2,3,45,6,7,8,10)
print( 9 in nums)

False

In [27]:
tupla = (5,'3',True,2733)
pos = tupla.index('3')
print(pos)

1

In [28]:
tupla = (5,'3',True,2733)
for x in tupla:
    print(x)

5
3
True
2733

In [29]:
tupla = (5,'3',True,2733)
for i in range(0,len(tupla)):
    print(tupla[i])

5
3
True
2733

Dicionário de dados

In [30]:
idades = {'Ana':10,"Bia":33}
print(idades)

{'Ana': 10, 'Bia': 33}

In [31]:
nome_numeros = {"Ana":34.5,"Renata":45.6,"Carla":44.5}
print(nome_numeros)

{'Ana': 34.5, 'Renata': 45.6, 'Carla': 44.5}

In [32]:
idades = {"Ana":20,"Maria":30,"João":40,"Fernando":"indefinido"}
print(idades['Maria'])
print(idades['Fernando'])

idades.get('Fernando')

30
indefinido

'indefinido'

In [33]:
nome_numeros = {
    7.1:"Sete virgula um",
    9.8:"nove virgula oito",
    10.43:"dez virgula quarenta e três"}
print(nome_numeros[7.1])
print(nome_numeros.get(10.43))

Sete virgula um
dez virgula quarenta e três

In [34]:
idades = {"Ana":20,"Maria":30,"João":40,"Fernando":"indefinido"}
print("Ana" in idades)
print("Roberto" not in idades)

True
True

In [ ]:
idades = {"Ana":20,"Maria":30,"João":40,"Fernando":"indefinido"}
idades['Maria'] = 30 
idades.update({"João":50})
print(idades)

{'Ana': 20, 'Maria': 30, 'João': 50, 'Fernando': 'indefinido'}

In [37]:
idades = {"Ana":20,"Maria":30,"João":40,"Fernando":"indefinido"}
idades['Marcos'] = 55 
idades.pop('Ana')
print(idades)

{'Maria': 30, 'João': 40, 'Fernando': 'indefinido', 'Marcos': 55}

In [38]:
idades = {"Ana":20,"Maria":30,"João":40,"Fernando":"indefinido"}
idades['Marcos'] = 55 
idades.pop('Ana')
print(idades)
idades.popitem()
print(idades)

{'Maria': 30, 'João': 40, 'Fernando': 'indefinido', 'Marcos': 55}
{'Maria': 30, 'João': 40, 'Fernando': 'indefinido'}