In [1]:
array_numeros = [1,2,3]
array_floats = [56.7,22.8,30.1]
array_strings = ["A","B","C"]
array_misto = [2,10.1,"A","B"]
print(array_numeros)
print(array_floats)
print(array_strings)
print(array_misto)

[1, 2, 3]
[56.7, 22.8, 30.1]
['A', 'B', 'C']
[2, 10.1, 'A', 'B']

In [ ]:
color = [1,2,3,4,5]
print(color)

In [ ]:
array = list([1,2,3])
print(array)
primeiro_elemento = array[0]
print(primeiro_elemento)
array[0] = 2000 
primeiro_elemento = array[0]
print(primeiro_elemento)
print(array[-1])
print(array)

In [ ]:
array = [1,"texto",3]
print(array[1:3])

In [ ]:
array = [10,2,3]
array.append(300)
print(array)
array.insert(2,400)
print(array)

In [ ]:
array = [10,30,40,50,600]
array.remove(10)
print(array)
array.pop(2)
print(array)

In [ ]:
print(len(array))

In [ ]:
array.clear()
print(array)

In [ ]:
array = [1,'teste',1.3,True]
print(1 in array)
print(False not in array)

In [ ]:
lista = [5,7,6,2,4,0]
teste = lista.count(7)
print(teste)

In [ ]:
lista = [5,7,6,2,4,0]
pos = lista.index(7)
print(pos)

SETS

In [ ]:
lista_set = {}
lista2_set = {1,2,3}
lista3_set = set({1,2,3})
print(lista_set)
print(lista2_set)
print(lista3_set)

In [ ]:
lista4_set = {1,2,3}
lista4_set.add(500)
print(lista4_set)

In [ ]:
lista4_set = {1,2,3}
lista4_set.add(500)
print(lista4_set)
lista4_set.remove(1)
print(lista4_set)

In [ ]:
lista5_set = {1,2,3,4,5,6,7,8,9,10}
lista5_set.add(40000)
print(lista5_set)

In [ ]:
lista5_set = {1,2,3,4,5,6,7,8,9,10}
lista5_set.clear()
print(lista5_set)

In [ ]:
lista6_set = {1,2,3,4,5,6}
print(len(lista6_set))

In [ ]:
lista7_set = {12,3,4,5,6}
print(type(lista7_set))

In [ ]:
lista8_set = {1,2,3,4,5,6}
print(200 in lista7_set)

In [ ]:
set1 = {1,2,3,4}
set2 = {4,5,6,7,8}
set_unido = set1.union(set2)
print(set_unido)

In [ ]:
set1 = {1,2,3,4}
set2 = {4,5,6,7,8}
set_unido = set1.intersection(set2)
print(set_unido)

In [ ]:
set1 = {1,2,3,4}
set2 = {4,5,6,7,8}
set_unido = set1.difference(set2)
print(set_unido)

TUPLAS

In [ ]:
doces = tuple(["Chocolate","bom bom","maria mole"])
print(doces)

In [ ]:
nums = ('1','2','3')
print(len(nums))

In [ ]:
nums = (1,2,3,4,5,6,7,8)
sub_tupla = nums[1:4]
print(sub_tupla)

In [ ]:
nums = (1,2,3,45,6,7,8,10)
print( 9 in nums)

In [ ]:
tupla = (5,'3',True,2733)
pos = tupla.index('3')
print(pos)

In [ ]:
tupla = (5,'3',True,2733)
for x in tupla:
    print(x)

In [ ]:
tupla = (5,'3',True,2733)
for i in range(0,len(tupla)):
    print(tupla[i])

Dicionário de dados

In [ ]:
idades = {'Ana':10,"Bia":33}
print(idades)

In [ ]:
nome_numeros = {"Ana":34.5,"Renata":45.6,"Carla":44.5}
print(nome_numeros)

In [ ]:
idades = {"Ana":20,"Maria":30,"João":40,"Fernando":"indefinido"}
print(idades['Maria'])
print(idades['Fernando'])

idades.get('Fernando')

In [ ]:
nome_numeros = {
    7.1:"Sete virgula um",
    9.8:"nove virgula oito",
    10.43:"dez virgula quarenta e três"}
print(nome_numeros[7.1])
print(nome_numeros.get(10.43))

In [ ]:
idades = {"Ana":20,"Maria":30,"João":40,"Fernando":"indefinido"}
print("Ana" in idades)
print("Roberto" not in idades)

In [ ]:
idades = {"Ana":20,"Maria":30,"João":40,"Fernando":"indefinido"}
idades['Maria'] = 30 
idades.update({"João":50})
print(idades)

In [ ]:
idades = {"Ana":20,"Maria":30,"João":40,"Fernando":"indefinido"}
idades['Marcos'] = 55 
idades.pop('Ana')
print(idades)

In [ ]:
idades = {"Ana":20,"Maria":30,"João":40,"Fernando":"indefinido"}
idades['Marcos'] = 55 
idades.pop('Ana')
print(idades)
idades.popitem()
print(idades)

In [ ]:
lista= [x for x in range(0,10)]
print(lista)

In [ ]:
lista_com = ['1','zero','Quatro']
lista_com = [x for x in lista_com]
print(lista_com)

In [ ]:
lista_com_2 = [ x for x in range(0,10) if x % 2 ==0]
print(lista_com_2)

In [ ]:
list_aux = [1,5,6]
lista_com_3= [ x for  x in range(0,10) if x not in list_aux]
print(lista_com_3)

In [ ]:
lista_com_4 = [x for x in range(0,10) if x <10 if x >0]
print(lista_com_4)

In [ ]:
lista_com_5 = [x for x in range(1,11) if x <=10 if x >0]
print(lista_com_5)

In [ ]:
lista_com_6 = [x for x in range(-10,20) if x <=10 if x >0]
print(lista_com_6)

In [ ]:
lista_com_7 = [str(x) for x in range(0,21)]
print(lista_com_7)

In [ ]:
lista_com_8 = [str(x)[0] for x in range(0,21)]
print(lista_com_8)

In [ ]:
lista_com_9 = ['negativo' if x < 0 else 'positivo' for x in range(-3,4)]
print(lista_com_9)

In [ ]:
lista_com_10 = [str(x) + 'par' if x % 2 ==0 else str(x) + 'impar' for x in range(2,11)]
print(lista_com_10)