In [2]:
class Teste:
    pass 

minha_classe = Teste()
print(type(minha_classe))

<class '__main__.Teste'>

In [3]:
class NossaClasse:
    def __init__(self):
        print("Eu existo!")

var = NossaClasse()
print(type(var))

Eu existo!
<class '__main__.NossaClasse'>

In [4]:
class Pessoa:
    def __init__(self,nome,idade):
        self.nome = nome 
        self.idade = idade 
        print("Pessoa com nome %s e idade %d criada" %(nome,idade))

pessoa1 = Pessoa('João',30)
pessoa2 = Pessoa('Pedro',44)

print(pessoa1.nome)
print(pessoa2.idade)

Pessoa com nome João e idade 30 criada
Pessoa com nome Pedro e idade 44 criada
João
44

In [5]:
class Pessoa:
    especie = "Homo Sapiens"
    def __init__(self,nome,idade):
        self.nome = nome 
        self.idade = idade 
        print("Pessoa com nome %s e idade %d criada" %(nome,idade))

pessoa1 = Pessoa('João',30)
pessoa2 = Pessoa('Pedro',44)

print(pessoa1.especie)
print(pessoa2.especie)

Pessoa com nome João e idade 30 criada
Pessoa com nome Pedro e idade 44 criada
Homo Sapiens
Homo Sapiens

In [6]:
class Pessoa:
    especie = "Homo Sapiens"
    num_pessoa = 0
    def __init__(self,nome,idade):
        self.nome = nome 
        self.idade = idade 
        Pessoa.num_pessoa

pessoa1 = Pessoa('João',30)
pessoa2 = Pessoa('Pedro',44)
pessoa3 = Pessoa('Lucas',23)

print(Pessoa.num_pessoa)

0

In [1]:
class Pessoa:
    especie = "Homo Sapiens"
    num_pessoa = 0
    def __init__(self,nome,idade):
        self.nome = nome 
        self.idade = idade 
        Pessoa.num_pessoa += 1

pessoa1 = Pessoa('João',30)
print(Pessoa.num_pessoa)
pessoa2 = Pessoa('Pedro',44)
print(Pessoa.num_pessoa)
pessoa3 = Pessoa('Lucas',23)
print(Pessoa.num_pessoa)

1
2
3

In [3]:
class Pessoa:
    def __init__(self,nome,idade):
        self.nome = nome 
        self.idade = idade
    def print_nome(self):
        print("Meu nome e %s" %(self.nome))

pessoa1 = Pessoa("Roger",33)
pessoa2 = Pessoa("Maria",20)

pessoa1.print_nome()
pessoa2.print_nome()

Meu nome e Roger
Meu nome e Maria

In [4]:
class Pessoa:
    def __init__(self,nome,idade):
        self.nome = nome 
        self.idade = idade

    def print_string(self,nome):
        print("Meu nome e %s "%(nome))   
    
    def print_nome(self):
       self.print_string(self.nome)

pessoa1 = Pessoa("Roger",33)
pessoa2 = Pessoa("Maria",20)

pessoa1.print_nome()
pessoa2.print_nome()

Meu nome e Roger
Meu nome e Maria

In [9]:
class Pessoa:
    def __init__(self,nome):
        self.nome =nome 
    
    def insere_idade(self,idade):
        self.idade = idade

rodrigo = Pessoa("Rodrigo")
rodrigo.insere_idade(34)

print(rodrigo.idade)
print(rodrigo.nome)

34
Rodrigo